html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: sans-serif;
}

.calc {
  border: 1px solid #1b1926;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #eee6dd;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.schermata {
  width: 100%;
  height: 80px;
  border: none;
  background-color: #2e2e3e;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 4rem;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pulsanti {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 20px;
}

button {
  height: 60px;
  border-radius: 10px;
  background-color: #ddd0c6;
  border: 1px solid #1e1e2e;
  font-size: 2rem;
  color: #575279;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:active {
  background-color: #d1c9c8;
}

.operatore {
  background-color: #cbe;
  color: #575279;
  border-color: #1e1e2e;
}

.operatore:active {
  background-color: #7e5cad;
}

.operatore-uguale {
  background-color: #9c81e7;
  border-color: #1e1e2e;
  color: #fff;
  grid-column: 2 / span 2;
}

.operatore-uguale:active {
  background-color: #7e5cad;
}

.clear {
  background-color: #b4637a;
  color: #fff;
  border-color: #1e1e2e;
  grid-column: 1 / span 3;
}

.clear:active {
  background-color: #874a5b;
}

